// Media Query for Header
@media screen and (min-width: 820px) {
    header {
        height: 80px;
    }

    .header__mid {
        height: 80px;
    }

    .header__menu-icon, .header__close-icon {
        display: none;
    }

    h1 {
        display: block;
    }   
    
    .header__breadcrumb {
        display: block;
    }

    .nav-menu {
        display: none;
    }

    .reserver {
        right: 20px;
    }
}

// Footer
@media screen and (min-width: 900px) {
    footer {
      grid-template-areas:
        "footer__media footer__newsletter footer__address"
        "footer__copyright footer__copyright footer__copyright";
      grid-template-columns: 1fr 1fr 1fr;
      padding-top: 10px;
    }
  
    .footer__media,
    .footer__newsletter {
      border-right: 1px solid $footer_color;
    }
  }