// Header
@media screen and (min-width: 820px) {
    header {
        height: 80px;
    }

    .header__mid {
        height: 80px;
    }

    .header__menu-icon,
    .header__close-icon {
        display: none;
    }

    h1 {
        display: block;
    }

    .header__breadcrumb {
        display: block;
    }

    .nav-menu {
        display: none;
    }

    .reserver {
        right: 20px;
    }
}

// main
@media screen and (min-width: 950px) {
    main {
        section {
            margin: 0 20px 0 20px;
        }
    }

    .room_card {
        flex-direction: row;
        border-bottom: none;

        &:nth-child(-n + 4) {
            margin-bottom: 40px;
        }

        .room_card-text-container {
            display: grid;
            grid-template-rows: 1fr 3fr 1fr;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

@media screen and (min-width: 1350px) {
    main {
        section {
            margin: 0 100px 0 100px;
        }

        .room_card-photo-container {
            img {
                cursor: pointer;
                &:hover {
                    transform: scale(1.02);
                }
            }
        }
    }
}

// mika
@media screen and (min-width: 780px) {
    .resa {
        margin: 1em 10em 1em 10em;
        padding: 2em;
        border: 0.2em solid $primary_color;
    }
    .form__contact {
        &-group {
            display: flex;
            flex-direction: row;
            margin: 1em;
            text-align: end;
            label {
                flex: 1;
            }
            input {
                flex: 3;
            }
            select {
                flex: 3;
            }
            textarea {
                flex: 3;
            }
        }
    }

    .selection_room_container {
        display: grid;
        // grid-template-columns: 1fr 1fr;
        justify-content: stretch;
        align-items: center;
        grid-area: 
        "a"
        "b"
        "c" 
        "d";
        gap: 20px;
        margin-bottom: 20px;

        .room_selection {
            margin-right: 0;
            .room-selection-label {
                text-align: left;
            }
        }
    }

    .room_selection {
        display: flex;
        flex-direction: column;
        margin: auto 1em;
        justify-content: space-around;
        &-label {
            flex-direction: row;
        }
    }

    .confirmation_text {
        background-color: #ddae36;
        color: $white;
        // margin: 5rem 20rem;
        // padding: 1rem;
        text-align: center;
        h2 {
            margin: 2rem auto;
            font-size: 1.7rem;
            font-family: "EB Garamond";
        }
        p {
            font-size: 1.2rem;
            font-family: "Cormorant Garamond";
        }
    }
}

// reservation: selection du nombre de chambre
@media screen and (min-width: 1000px) {
    .selection_room_container {
        grid-template-columns: 1fr 1fr;
        grid-area: 
        "a b"
        "c d";
    }
    
}

// reservation: selection du nombre de chambre
@media screen and (min-width: 1200px) {
    .selection_room_container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-area: 
        "a b c"
        "d d d";
        gap: 20px;
    }
    
}

// reservation: selection du nombre de chambre
@media screen and (min-width: 1500px) {
    .selection_room_container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-area: 
        "a b c d";
    }
    
}

// Footer
@media screen and (min-width: 900px) {
    footer {
        grid-template-areas:
            "footer__media footer__newsletter footer__address"
            "footer__copyright footer__copyright footer__copyright";
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 10px;
    }

    .footer__media,
    .footer__newsletter {
        border-right: 1px solid $footer_color;
    }
}
