@font-face {
  font-family: "Ovo";
  src: url("../fonts/Ovo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Martel";
  src: url("../fonts/Martel-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway Bold";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway SemiBold";
  src: url("../fonts/Raleway-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("../fonts/SourceSerifPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EBGaramond-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Parisienne";
  src: url(../fonts/Parisienne-Regular.ttf);
}