@font-face {
  font-family: "Parisienne";
  src: url("../fonts/Parisienne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
