figure {
    margin: 0;
}

.nav-contenair {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    // background-color: teal;
    margin: 8px;
}

.nav-menu-icon {
    &::before {
        @include my-icon("\e5d2");
    }
}

.nav-close-icon {
    &::before {
        @include my-icon("\e5cd");
    }
}

.nav-side {
    // display: block;
    // height: ;
}

nav {
    ul {
        li {
            list-style: none;
            a {
                text-decoration: none;
            }
        }
    }
}

.header-container {
    // background-color: blue;
    // position: relative;
}

.header-container img {

    // position: absolute;
    width: 100%;
    // left: 0;
}

h1 {
    position: absolute; // obligatoire pour le centrer par rapport à son parent
    left: 50%;
    transform: translateX(-50%);

    font-family: "Parisienne", serif;
    font-size: 1.8em;
    color: goldenrod;
    // text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    // top: 0%;
    // left: 50%;
    // transform: translate(-50%, 100%);
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    &-item {
        font-size: 25px;
        a {
            color: $secondary_color;
        }
    }
}
