.form__contact {
    &-group {
        display: flex;
        flex-direction: column;
        margin: 1em;
    }

} 
// body {
//     display: grid;
//     grid-template-areas: 
//     "A A"
//     "B B"
//     "C C"
//     ;
// }

header {
    //grid-area: A;
    position: fixed;
    height: $header_top_margin;
    width: 100%;
    background-color: white;
}

main {
    //grid-area: B;
    margin-top: $header_top_margin;
}

// footer {
//     //grid-area: C;
// }

.chambres {
    background-color: rgba($color: $primary_color, $alpha: 0.1);
    padding: 1px;
}

figure {
    margin: 0;
}

a {
    text-decoration: none;
}

h2 {
    font-family: "Parisienne";
    margin-left: 20px;
    color: $secondary_color;
}

section {
    p {
    font-family: "Open Sans";
    font-size: 11px;
    margin: 20px;
    }

    img {
        width: 90%;
        margin-left: 5%;
    }
}

.nav-contenair {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-left: 8px;
    height: 60px;
}

.nav-menu-icon {
    &::before {
        @include my-icon("\e5d2");
    }
}

.nav-close-icon {
    &::before {
        @include my-icon("\e5cd");
    }
}

.nav-side {
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
        margin: 0;
        gap: 1px;
        line-height: 1.5;
        font-size: 13px;
        font-family: "Open Sans";
        border-bottom: 1px $icon_color solid;
    }
    li {
        text-align: center;
        list-style: none;
        background-color: $third_color;
        &:hover {
            background-color: white;
        }
    }
    a {
        color: white;
        text-transform: capitalize;
        &:hover {
            color: $primary_color;
        }
    }
}

header {
    display: flex;
    flex-direction: column;
}

.header-container {
    img {
        width: 100%;
    }
}

h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    font-family: "Parisienne", serif;
    font-size: 1.8em;
    color: goldenrod;
    margin: 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: $footer_color;
    color: white;

    font-family: "Open Sans";
    font-size: 12px;

    address {
        margin: 5px;
    }
}

.copy {
    font-size: xx-small;
    margin: 5px;
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    &-item {
        a {
            color: white;
        }
    }
}