@mixin myflex1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin myflex2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// For Google Icons
@mixin my-google-icon($fontcode) {
    font-family: $iconfontfamily;
    content: $fontcode;
    font-size: $iconsize;
    color: $icon_color;
    cursor: pointer;
}

@mixin svgToWhite {
    filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(221deg) brightness(112%) contrast(100%);  // svg en blanc
}

// propriétés de la div container pour icone media
@mixin socialLinkColor($invert,$sepia,$saturate,$hue,$brightness,$contrast) {
    // @include myflex1;
    height: $media_icon_size;
    width: $media_icon_size;
    transition-duration: 0.2s;
    padding: 1px;
    img {
        @include svgToWhite;
        height: $media_icon_size;
        width: $media_icon_size;
    }

    &:hover { // svg de couleur d'origine du media
        background-color: $white;
        img{
            filter: invert($invert) sepia($sepia) saturate($saturate) hue-rotate($hue) brightness($brightness) contrast($contrast);
        }
    }

}

