@mixin myflex1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin myflex2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// For Google Icons
@mixin my-google-icon($fontcode) {
    font-family: $iconfontfamily;
    content: $fontcode;
    font-size: $iconsize;
    color: $icon_color;
    cursor: pointer;
}

@mixin socialLinkColor($mycolor) {
    transition-duration: 0.2s;
    &:hover {
        color: $mycolor;
        background-color: $white;
    }
}
