// Media query for index/presentation
@media screen and (max-width: 501px) {
    main section {
        margin: 0;

        h2, h3{
            margin-left: 10px;
        }
        p {
            margin-left: 20px;
            margin-bottom: 20px;
        }
    }

    .bouton-details {
        height: 30px;
        margin-left: 30px;
    }

    .room_card {
        margin: 0;
        div {
            margin: 0;
            // width: 350px;
        }

        border-bottom: 1px solid rgba($color: silver, $alpha: 0.7);
        margin-bottom: 20px;
    }
}