@media screen and (min-width:480px) and(max-width:779px) {
    #resa {
        margin:2em;
        padding: 1em;
        border: 0.2em solid $primary_color;
    }
    .form__contact {
        &-group {
            display: flex;
            flex-direction: column;
            margin: 1em;
        }
    } 
    #room_selection {
        display: flex;
        flex-direction: column;
        &-label {
            flex-direction: row;
        }
    }
}