// Media query for index/presentation
@media screen and (max-width: 900px) {
    .room_card {
        flex-direction: column;

        img, div {
            min-width: 400px;
            width: auto;
        }
    }

    .button_details {
        position: relative;
        margin-top: 30px;
        margin-left: 20px;
    }
}

// Media query for title and footer
//old
@media screen and (max-width: 700px) {
    // .title__text {
    //     display: none;
    // }

    .footer-smallcontainer {
        flex-wrap: wrap;
    }
}

// @media screen and (min-width: 500px) {
//     .nav-menu {
//         display: none;
//     }
    
// }

// Media Query for Header
@media screen and (min-width: 500px) {
    header {
        grid-template-columns: 20% auto 20%;
        height: 70px;
    }
    
    .header__menu-icon, .header__close-icon {
        height: 35px;
        width : 35px;
    }

    .header__mid {
        justify-content: center;
    }

    .header__logo {
        height: 50px;
        width: 50px;
    }

    .reserver {
        top: 20px;
        height: 30px;
        width: 120px;
        font-size: 14px;
    }
}

//Mika
@media screen and (min-width:480px) and(max-width:779px) {
    #resa {
        margin:2em;
        padding: 1em;
        border: 0.2em solid $primary_color;
    }
    .form__contact {
        &-group {
            display: flex;
            flex-direction: column;
            margin: 1em;
        }
    } 
    .room_selection {
        display: flex;
        flex-direction: column;
        &-label {
            flex-direction: row;
        }
    }
    #confirmation {
        background-color: #DDAE36;
        color: $white;
        margin: 2rem 10rem;
        padding: 1rem;
        display: block;
        text-align: center;
        h2 {
            margin: 2rem auto;
            font-size: 1.7rem;
            font-family: "EB Garamond";
        }
        p {
            font-size: 1.2rem; 
            font-family: "Cormorant Garamond";
        }
    }
}
// Footer
@media screen and (min-width: 500px) {
    footer {
      grid-template-areas:
        "footer__media footer__newsletter"
        "footer__address footer__address"
        "footer__copyright footer__copyright";
      grid-template-columns: 1fr 1fr;
      padding-top: 20px;
    }
  
    .footer__media {
      border-right: 1px solid $footer_color;
    }
  
    .footer__newsletter {
      border-bottom: none;
      border-top: none;
    }

    .footer__address {
        padding-top: 20px;
        padding-bottom: 0px;
    }
  }
