// Colors
$primary_color: #daa520;
$secondary_color:#00258C;
$third_color: #8C670B;
$white: white;
$background1: #DAA520;
$background2: #4D4123;

// Header
$header_font: "Parisienne";
$header_menu_font: "Open Sans";
$header_menu_fontsize: "";

// Main
// $main_font: "Cormorant Garamond";
$main_font: "Source Serif Pro";
$main_fontsize: "15px";

// Room card
$room_card_bordercolor: rgba($color: silver, $alpha: 0.6);

// Variables pour les icônes du header
$iconfontfamily: 'Material Icons';
$iconsize: 1.7em;
$icon_color: rgb(117, 117, 117);

// Formulaire de contact
$contact_font: "Open Sans";
$contact_fontsize: 0.8em;

// Footer
// $footer_color: rgb(73, 73, 73);
$footer_color: $white;
$footer_bgcolor: $background2;
$footer_font: "Open Sans";
$footer_fontsize: 13px;
$footer_iconsize: 14px;

// Footer media icons
$media_icon_size: 16px;
$media_instagram_color: #8a3ab9;
$media_facebook_color: #3b5998;
$media_twitter_color: #00acee;
$media_youtube_color: red;
$media_pinterest_color: #E60023;

// Popup animation
//$popup_duration: 3000;

// Go Top
$gotop_font: "Open Sans";
$gotop_fontsize: 8.5px;
$gotop_color: $white;
$gotop_bgcolor: black;

// Breadcrumb
$breadcrumb_iconsize: 16px;
$breadcrumb_font: "Martel";
$breadcrumb_fontsize: 12px;
$breadcrumb_color: $secondary_color;