// Colors
$primary_color: #daa520;
$secondary_color:#00258C;
$third_color: #8C670B;
$gold:#c49235;


// Header
$header_top_margin: "55px";


// Variables pour les icônes du header
$iconfontfamily: 'Material Icons';
$iconsize: 1.7em;
$icon_color: rgb(117, 117, 117);

// Footer
// $footer_color: rgb(73, 73, 73);
$footer_color: #8C670B;

